h1{
    text-align: center;
    font-size: 60px;
    color: red;
}

p{
    color: white;
}
h2{
    text-align: center;
    font-size: 40px;
    color: red;

}

body {
    background-color: #2bbde2;
}

#logo{
    width: 300px;
    margin: 0;
    padding: 15;
}

ul{
    text-align: inherit;
    color: blue rgb(red, green, blue);
}

.cabecalho {
    background-color: blue;
    margin: 0;
    padding: 5%;
}